<a href="https://colab.research.google.com/github/Jessy0786/Mujeres-Digitales-Jessy/blob/main/Actividades_de_la_17_Ago.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#Actividad 1
#Realizar una serie con numeros impares de 1 a 15
#Forma1
impares= pd.Series([1,3,5,7,9,11,13,15])
print(impares)

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
dtype: int64

In [ ]:
#Realizar una serie con numeros impares de 1 a 15
#forma2 con indices
impares= pd.Series([1,3,5,7,9,11,13,15],name='nImpares',index=['a','b','c','d','e','f','g','i'])
print(impares)

a     1
b     3
c     5
d     7
e     9
f    11
g    13
i    15
Name: nImpares, dtype: int64

In [ ]:
#Realizar una serie con numeros impares de 1 a 15
#forma3: Rango (1,16,2) 1:inicio, 16: stop,  2:saltos
impares= pd.Series(range(1,16,2),name='nImpares',index=['a','b','c','d','e','f','g','i'])
print(impares)

a     1
b     3
c     5
d     7
e     9
f    11
g    13
i    15
Name: nImpares, dtype: int64

In [ ]:
impares= pd.Series(range(1,16,2),name='nImpares',index=['a','b','c','d','e','f','g','i'])
impares['c'] #imprimir el contenido de un indice

5

In [ ]:
#Actividad2 sacar los valores de 2 al 4
impares= pd.Series(range(1,16,2))
print(impares)
print('------------------------')
for i in (impares>2) & (impares<4):#como creí que debia ser
  print(i)

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
dtype: int64
------------------------
False
True
False
False
False
False
False
False

In [ ]:
impares= pd.Series(range(1,16,2))#como debió ser 
print(impares)
print('------------------------')
print(impares[2:5]) # en este caso se refiere a los indices de 2 a 4

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
dtype: int64
------------------------
2    5
3    7
4    9
dtype: int64

In [ ]:
impares

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
dtype: int64

In [ ]:
print(impares.loc[2:4]) #incluye el stop
print('---------------------------')
print(impares.iloc[2:4]) #no incluye el stop
print('---------------------------')

2    5
3    7
4    9
dtype: int64
---------------------------
2    5
3    7
dtype: int64
---------------------------

In [ ]:
for i in impares.index : #usando un for
  if (i>=2) & (i<=4):
    print(i,impares[i])

2 5
3 7
4 9

In [5]:
#Actividad 3
#Realizar una serie con las fechas de mamá, papá e hij@
import pandas as pd

cumples= pd.to_datetime(pd.Series(['5/22/2022','2/11/2022','7/25/2022'],index=['Madre','Padre','Jessy']),errors='coerce')
cumples

Madre   2022-05-22
Padre   2022-02-11
Jessy   2022-07-25
dtype: datetime64[ns]