<a href="https://colab.research.google.com/github/Jessy0786/Mujeres-Digitales-Jessy/blob/main/CLASE_10_Agosto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **FOR **
Bucle,ciclo for 

para dejar claro,las partes que componen el bucle FOR


Es un ciclo especializado para los ciclos controlados por cantidad se compone de 3 elementos:

1. **variable de iteracion:** son objetos que hace referencia a un elemento que tiene la capacidad de repetirse., por ejemplo una lista.
2. **elemento de iteracion**: son objetos que hacen referencia a un elemento (para hacer referencia a cada uno de los elementos del conjunto


como saber que un elemento es iterable?


Podemos darnos cuenta que es iterable usando la funcion isinstance().


for (variable) in (iterable) #bloque de codigo

In [ ]:
for i in  range (0,5):
  print(i)

0
1
2
3
4

In [ ]:
lista=[1,2,3,4,5,6,7,8,9]
lista1=[2,3,4,5,6,7,8,9]
a="computador"
b=10

In [ ]:
from collections import Iterable #paquete iterable python
lista=[1,2,3,4,5,6,7,8,9]
lista1=[2,3,4,5,6,7,8,9]
a="computador"
b=10
print(isinstance(lista,Iterable))
print(isinstance(a,Iterable))
print(isinstance(b,Iterable))

True
True
False

In [ ]:
a=30 #aparece un error porque a no es una variable iterable
for i in a:
  print(a)

TypeError: ignored

# Iteradores

para entender los iteradores es importante conocer la funcion iter(), esta funcion puede ser llamada sobre un objeto que sea iterable y nos devolvera un iterador.

ejm:

In [ ]:
lista1=[2,3,4,5,6,7,8,9]
ref=iter(lista1)
print(ref)
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))

<list_iterator object at 0x7f70fda67210>
2
3
4
5

Al imprimir ref es un iterador de la clase list_iterador hace referencia a la lista original y nos permite acceder a sus elementos con la funcion next()


cada vez que llamemos a next sobre ref son devuelve el siguiente elemento de la lista original, si por ejemplo quiero acceder al elemento 7....


# tener en cuenta

existen otros iteradores para las diferentes clases:
1. str_iterador para cadenas
2. list_iterador para listas
3. set_iterador para conjuntos
4. dict_keyiterador para diccionarios

# **For anidados**
Es posible anidar los for, es decir, ingresar uno dentro de otro, como lo veremos a continuacion

In [ ]:
#vamos a crear una lista de lista lo cual conforma una matriz, recordemos que una matriz se compone de valores que se distribuyen en filas y columnas

lista=[[1,2,3],
       [4,5,6],
       [7,8,9]]
for i in lista:
  print(i)
for i in lista:
  for j in i:
    print(j)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
1
2
3
4
5
6
7
8
9

In [ ]:
lista=[1,2,3,4,5,6,7] 
for i in lista[::-1]:  #mostrar lectura inversa
  print(i)

7
6
5
4
3
2
1

In [ ]:
lista=[1,2,3,4,5,6,7] 
for i in lista[::2]:  #intercalado
  print(i)

1
3
5
7

In [ ]:
a="computador"
for i in a:
  print(a)

computador
computador
computador
computador
computador
computador
computador
computador
computador
computador

In [ ]:
a="computador"
for i in a:
  print(i)

c
o
m
p
u
t
a
d
o
r

In [ ]:
a="computador"
for i in a[::4]:
  print(i)

c
u
o

In [ ]:
#usando rangos
for i in range(10): #el rango genera una secuencia hasta el numero que se pasa como parametro inicia en 0
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(2,10): #el primer numero es donde incia y el segundo es hasta donde llega
  print(i)

2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10,2): #el primer numero es donde incia, el segundo es hasta donde llega el tercero son los saltos
  print(i)

0
2
4
6
8

In [ ]:

print(list(range(0,10,2))) #convertir un rango en una lista

[0, 2, 4, 6, 8]

# Listas de comprensi√≥n 

Estas nos permiten crear listas de elementos en una sola linea de codigo

In [ ]:
lista3=[i**3 for i in range(0,10,2)]
print(lista3)
print(i)

[0, 8, 64, 216, 512]
8

In [ ]:
lista3=[i**3 for i in range(0,10)]
print(lista3)
print(i)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
8

In [ ]:
lista3 = []
for numero in range(0,10,2):
    lista3.append(numero**3)
print(lista3)

[0, 8, 64, 216, 512]

In [ ]:
s=[1 for i in range(10)]
print(s)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [ ]:
lista4=[5,10,15,20,25,30]
lista5=[i/5 for i in lista4]
print(lista5)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

In [ ]:
pera="mi mama me ama"
pera2=[i for i in pera if i=="a"]
print(pera2)

['a', 'a', 'a', 'a']

In [ ]:
pera="mi mama me ama"
pera2=[i for i in pera if i=="m"]
print(pera2)

['m', 'm', 'm', 'm', 'm']

In [ ]:
pera="me gustan las peras"
pera2=[i for i in pera if i=="a"]
print(pera2)
print(len(pera2))

['a', 'a', 'a']
3