<a href="https://colab.research.google.com/github/Jessy0786/Mujeres-Digitales-Jessy/blob/main/Copia_de_Copia_de_pandas_17_agosto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as  pd

In [ ]:
numerico = pd.Series ([145,142,38,13])

In [ ]:
numerico[[0,3]]

0    145
3     13
dtype: int64

In [ ]:
pd.Series (['a','b','c'])

0    a
1    b
2    c
dtype: object

In [ ]:
david= pd.Series([145,142,38,13], name='counts')
print(type(david))
david

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [ ]:
david= pd.Series([145,142,38,13,'abc','x'], name='counts')
print(type(david))
david

<class 'pandas.core.series.Series'>

0    145
1    142
2     38
3     13
4    abc
5      x
Name: counts, dtype: object

In [ ]:
print(david.index)
print(david.values)

RangeIndex(start=0, stop=6, step=1)
[145 142 38 13 'abc' 'x']

In [ ]:
# el indice no necesariamente tiene que ser un numero
david3= pd.Series([145,142,38,13,'a'], name='counts', index=['juan','pedro','sofia','andrea','b'])
print(david3)
print('-------')
print(david3.values)
print('-------')
print(david3.index)

juan      145
pedro     142
sofia      38
andrea     13
b           a
Name: counts, dtype: object
-------
[145 142 38 13 'a']
-------
Index(['juan', 'pedro', 'sofia', 'andrea', 'b'], dtype='object')

In [ ]:
david3[['juan', 'andrea']]

juan      145
andrea     13
Name: counts, dtype: object

In [ ]:
#tambien pueden diferentes objetos
class j:
  pass
pedro= pd.Series (['david','fran',13,j()],name='jj')
print(pedro)

0                                    david
1                                     fran
2                                       13
3    <__main__.j object at 0x7f51fae2f7d0>
Name: jj, dtype: object

In [ ]:
#  y que hay de los nulos
nan_ser =pd.Series ([2,None],index=['0','c'])
print (nan_ser)
nan_ser.count()

0    2.0
c    NaN
dtype: float64

1

In [ ]:
# Actividad crear una serie de numeros impares hasta el 15

serieJessyImpar= pd.Series ([1,3,5,7,9,11,13,15])
serieJessy

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
dtype: int64

In [ ]:
serieJessyImpar= pd.Series ([1,3,5,7,9,11,13,15],name='jes',index=['a','b','c','d','e','f','i','k'])
serieJessyImpar

a     1
b     3
c     5
d     7
e     9
f    11
i    13
k    15
Name: jes, dtype: int64

In [ ]:
serieJessyImpar= pd.Series ([1,3,5,7,9,11,13,15],index=['a','b','c','d','e','f','h','i'])
serieJessyImpar

a     1
b     3
c     5
d     7
e     9
f    11
h    13
i    15
dtype: int64

In [ ]:
serieJessyImpar= pd.Series (range(1,16,2))
serieJessyImpar

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
dtype: int64

In [ ]:
#Actividad2
serieJessyImpar[2:5]

2    5
3    7
4    9
dtype: int64

In [ ]:
serieJessyImpar > 10

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
dtype: bool

In [ ]:
mask = serieJessyImpar > 10
serieJessyImpar[mask]

5    11
6    13
7    15
dtype: int64

In [ ]:
cidys= pd.Series([10,7,1,22],index=['1968','1969','1970','1970'],name='per')
cidys
cidys['1969'] = 6
cidys

1968    10
1969     6
1970     1
1970    22
Name: per, dtype: int64

In [ ]:
cidys= pd.Series([10,7,1,22],index=['1968','1969','1970','1970'],name='per')
print(cidys)
#que hay si necesito guardar multiples entradas en mi serie
g2= pd.Series({'1969':7,'1970':[1,22]},index=['1969','1970','1970','1970'])
print(g2)
#2 lectura
print('-------------')
print(cidys['1968'])
print('-------------')
for element in  cidys:
  print('El elemento es : ',element)

1968    10
1969     7
1970     1
1970    22
Name: per, dtype: int64
1969          7
1970    [1, 22]
1970    [1, 22]
1970    [1, 22]
dtype: object
-------------
10
-------------
El elemento es :  10
El elemento es :  7
El elemento es :  1
El elemento es :  22

In [ ]:
cidys['1968']

10

In [ ]:
g2['1970']

1970    [1, 22]
1970    [1, 22]
1970    [1, 22]
dtype: object

In [ ]:
print(22 in cidys) #Incorrecto
print(22 in set(cidys))
print(22 in cidys.values)
print('1970' in cidys)
for item in cidys.iteritems():
  print(item)

False
True
True
True
('1968', 10)
('1969', 7)
('1970', 1)
('1970', 22)

In [ ]:
#3) Actualizaci√≥n
cidys= pd.Series([10,7,1,22],index=['1968','1969','1970','1970'],name='per')
print(cidys)
#Que pasa si intento actualizar un indice duplicado
cidys['1970']=2
print('---------')
print(cidys)

1968    10
1969     7
1970     1
1970    22
Name: per, dtype: int64
---------
1968    10
1969     7
1970     2
1970     2
Name: per, dtype: int64

In [ ]:
cidys= pd.Series([10,7,1,22],index=['1968','1969','1970','1970'],name='per')
print(cidys)
#Se cambia por la posicion
cidys.iloc[3] = 3
print(cidys)

1968    10
1969     7
1970     1
1970    22
Name: per, dtype: int64
1968    10
1969     7
1970     1
1970     3
Name: per, dtype: int64

In [ ]:
# Agregar
cidys= pd.Series([10,7,1,22],index=['1968','1969','1970','1970'],name='per')
cidys = cidys.append(pd.Series({'1974':9}))
print(cidys)

1968    10
1969     7
1970     1
1970    22
1974     9
dtype: int64

In [ ]:
# Borrar
print(cidys)
del cidys['1968']
print(cidys)
cidys[cidys <= 2]

1968    10
1969     7
1970     1
1970    22
1974     9
dtype: int64
1969     7
1970     1
1970    22
1974     9
dtype: int64

1970    1
dtype: int64

# Indexamiento de series
El atributo .iloc sirve para encontrar la posicion de los indices
Por el contrario .loc permite entoncontrar los labels en el indice

In [ ]:
print(cidys)
print(cidys.iloc[0])
print('---------')
print(cidys.iloc[-1])
print('---------')
print(cidys.iloc[3])

1969     7
1970     1
1970    22
1974     9
dtype: int64
7
---------
9
---------
9

In [ ]:
print(cidys)
print('---------')
print(cidys.loc['1974'])
print('---------')
print(cidys['1974'])

1969     7
1970     1
1970    22
1974     9
dtype: int64
---------
9
---------
9

In [ ]:
print(cidys)
print('---------')
print(cidys.iloc[0:2])

1969     7
1970     1
1970    22
1974     9
dtype: int64
---------
1969    7
1970    1
dtype: int64

Existen otros metodos llamados .at y .iat que son los analogos a .loc y .oloc solo que devuelven como resultado un objeto numpy.ndarray

In [ ]:
serieJessyImpar2= pd.Series ([1,3,5,7,9,11,13,15])
serieJessyImpar2 
print(serieJessyImpar2)
print('-------------------')
serieJessyImpar2.iloc[2:4]
print(serieJessyImpar2.iloc[2:4])
print('-------------------')
serieJessyImpar2.loc[2:4]

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
dtype: int64
-------------------
2    5
3    7
dtype: int64
-------------------

2    5
3    7
4    9
dtype: int64

In [ ]:
serieJessyImpar= pd.Series ([1,3,5,7,9,11,13,15],index=['a','b','c','d','e','f','h','i'])
serieJessyImpar.loc['a':'c']
serieJessyImpar.iloc[2:4]

c    5
d    7
dtype: int64

In [ ]:
#Saca el indice y valor
for index, value in serieJessyImpar.iteritems():
  #print(index, value)
  print('Indice : ',index, ' Valor :', value)

Indice :  a  Valor : 1
Indice :  b  Valor : 3
Indice :  c  Valor : 5
Indice :  d  Valor : 7
Indice :  e  Valor : 9
Indice :  f  Valor : 11
Indice :  h  Valor : 13
Indice :  i  Valor : 15

In [ ]:
#Saca el indice
for index in serieJessyImpar.keys():
  print(index)

a
b
c
d
e
f
h
i

In [ ]:
#Saca todo el elemento
for element in serieJessyImpar.iteritems():
  print(element)

('a', 1)
('b', 3)
('c', 5)
('d', 7)
('e', 9)
('f', 11)
('h', 13)
('i', 15)

In [ ]:
# Fechas
fechas = pd.to_datetime(pd.Series(['Sep 7, 2001', '9/8/2001', '9-9-2001', '10th of September 2001', 'One of September 2001', 'Once de Septiembre 2001']), errors='coerce')
print(fechas)
fechas[fechas < '2001-09-09']
fechas[fechas < 'Sep 9, 2001']

0   2001-09-07
1   2001-09-08
2   2001-09-09
3   2001-09-10
4          NaT
5          NaT
dtype: datetime64[ns]

0   2001-09-07
1   2001-09-08
dtype: datetime64[ns]

In [ ]:
cumple = pd.to_datetime(pd.Series(['17-12-1983', '07-11-1954', '30-05-1958'], index=['yo', 'papa', 'mama']))
print(cumple)

yo     1983-12-17
papa   1954-07-11
mama   1958-05-30
dtype: datetime64[ns]