<a href="https://colab.research.google.com/github/Jessy0786/Mujeres-Digitales-Jessy/blob/main/Python_conceptos_b%C3%A1sicos1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imprimir

In [2]:
print('hola mundo')

hola mundo

# Tipos de datos

Numéricos

In [6]:
numero=10 #numerico entero
print(numero)
print('numero')
print(type(numero))
print('-------------------------------------')
numero1=10.98 #float
print(numero1)
print('numero')
print(type(numero1))

10
numero
<class 'int'>
-------------------------------------
10.98
numero
<class 'float'>

Cadena

In [14]:
nombre='jessy'#string
nombre1="Jessy"
print(nombre, nombre1)
#se pueden combinar las comillas
nombre2="estoy 'estudiando'"
nombre3='estoy "estudiando"'
print(nombre2)
print(nombre3)

jessy Jessy
estoy 'estudiando'
estoy "estudiando"

Booleanos

In [17]:
valor=True
print(valor)
print(type(valor))
print('____________________________________')
valor1=False
print(valor1)
print(type(valor1))

True
<class 'bool'>
____________________________________
False
<class 'bool'>

# Operaciones aritméticas básicas

In [27]:
num1=10
num2=6.7
suma=num1+num2
print(suma)
#puedo hacer operaciones simultaneas
resultado=(num1+num2 *10/6) #aquí está multiplicando 6,7*10 /6 +10
print(resultado)
#reglas de precendencia 
resultado1=((num1+num2) *10/6) #aquí está haciendo primero la suma 10+6.7 *10 /6
print(resultado1)
print('_______________________________________')
#concatenar 
print('el resultado es: ', resultado)
print('el resultado1 es: ', resultado1)
print('el resultado1 es:',resultado1)#python entiende que debe dejar un espacio

16.7
21.166666666666664
27.833333333333332
_______________________________________
el resultado es:  21.166666666666664
el resultado1 es:  27.833333333333332
el resultado1 es: 27.833333333333332

Tipado dinamico

In [29]:
valor=10
print(valor)
valor='Jessy'#python comprende que he cambiado el valor de la variable
print(valor)

10
Jessy

# Comentarios

In [42]:
valor=10
print(valor)
valor='Jessy'#python comprende que he cambiado el valor de la variable
print(valor)
#comentarios multilinea
'''
se supone que así
''' #aqui en colab no funciona

10
Jessy

'\nse supone que así\n'