<a href="https://colab.research.google.com/github/Jessy0786/Mujeres-Digitales-Jessy/blob/main/Series_Informaci%C3%B3n_adicional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Como cargar un archivo en csv y un excell

In [38]:
import pandas as pd
pokemones= pd.read_csv('sample_data/pokemon_data.csv')
pokemones.head(3)

   #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1  Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2    Ivysaur  Grass  Poison  ...       80     60           1      False
2  3   Venusaur  Grass  Poison  ...      100     80           1      False

[3 rows x 12 columns]

In [ ]:
import numpy as np
z= pd.read_excel('sample_data/Libro1.xlsx')
print(z)
z.head(3)

   wdawd awdawd awdawd.1 wdawd.1
0  dwdwd  dwdaw    dwdwa   wdawd
1  rgggg   hhhh      jjj    jjjj

   wdawd awdawd awdawd.1 wdawd.1
0  dwdwd  dwdaw    dwdwa   wdawd
1  rgggg   hhhh      jjj    jjjj

# Filtros basicos

In [4]:
#Filtros generales ------ informacion adicional
visitas= pd.read_excel('sample_data/VIsitas.xlsx')
print(visitas)
print('-------------------Comando para imprimir determinado numero de filas--------------')
#comando para imprimir determinado numero de filas(en este caso puse 5, pueden ser las que uno quiera)
print(visitas.head(5))
print('----------Nos dice cuantas columnas y cuantas filas tiene el dataframe------------')
print('------------------------En este caso son 11 filas, 4 columnas----------------------')
print(visitas.shape)
print('------------------- Imprimir la lista de columnas que tiene el dataframe--------------')
print(list(visitas))
print('------------------- Imprimir el nombre y el tipo de datos de las columnas --------------')
print(visitas.dtypes)

   PaisesVisitado PaisesPorVisitar Pueblos visitados PueblosNoVisitados
0       Venezuela           Mexico          Rionegro            jijdwij
1      Costa Rica            Japon          San Gil              khdwua
2          Panama           Italia          Zapatoca           audawuad
3        Colombia          Francia          Santa fe           diauhwad
4             NaN           Canada            Pacora             uhduwa
5             NaN             Cuba               NaN            ahduwah
6             NaN           Brasil               NaN             wdawda
7             NaN              NaN               NaN               awda
8             NaN              NaN               NaN           wdawdada
9             NaN              NaN               NaN         wdwwafafaw
10            NaN              NaN               NaN                daw
-------------------Comando para imprimir determinado numero de filas--------------
  PaisesVisitado PaisesPorVisitar Pueblos visitados PueblosNoVisitados
0      Venezuela           Mexico          Rionegro            jijdwij
1     Costa Rica            Japon          San Gil              khdwua
2         Panama           Italia          Zapatoca           audawuad
3       Colombia          Francia          Santa fe           diauhwad
4            NaN           Canada            Pacora             uhduwa
----------Nos dice cuantas columnas y cuantas filas tiene el dataframe------------
------------------------En este caso son 11 filas, 4 columnas----------------------
(11, 4)
------------------- Imprimir la lista de columnas que tiene el dataframe--------------
['PaisesVisitado', 'PaisesPorVisitar', 'Pueblos visitados', 'PueblosNoVisitados']
------------------- Imprimir el nombre y el tipo de datos de las columnas --------------
PaisesVisitado        object
PaisesPorVisitar      object
Pueblos visitados     object
PueblosNoVisitados    object
dtype: object

In [5]:
print('----------------mostrar el contenido de una columna-------------------')
print(visitas['PaisesVisitado'])

----------------mostrar el contenido de una columna-------------------
0      Venezuela
1     Costa Rica
2         Panama
3       Colombia
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
Name: PaisesVisitado, dtype: object

In [6]:
# mostrar el contenido de varias columnas (se imprimen en el orden que uno las ponga)
print(visitas[['PaisesVisitado','PueblosNoVisitados','Pueblos visitados' ]])

   PaisesVisitado PueblosNoVisitados Pueblos visitados
0       Venezuela            jijdwij          Rionegro
1      Costa Rica             khdwua          San Gil
2          Panama           audawuad          Zapatoca
3        Colombia           diauhwad          Santa fe
4             NaN             uhduwa            Pacora
5             NaN            ahduwah               NaN
6             NaN             wdawda               NaN
7             NaN               awda               NaN
8             NaN           wdawdada               NaN
9             NaN         wdwwafafaw               NaN
10            NaN                daw               NaN

In [7]:
#seleccionar los primeros renglones(filas) del dataframe
print(visitas[:3])

  PaisesVisitado PaisesPorVisitar Pueblos visitados PueblosNoVisitados
0      Venezuela           Mexico          Rionegro            jijdwij
1     Costa Rica            Japon          San Gil              khdwua
2         Panama           Italia          Zapatoca           audawuad

In [8]:
#seleccionar la ultima filas del dataframe
print(visitas[-1:])

   PaisesVisitado PaisesPorVisitar Pueblos visitados PueblosNoVisitados
10            NaN              NaN               NaN                daw

# Escribir archivo csv

In [9]:
# Crear archivo desde cero
import csv

with open('exampleEDUARDO.csv', 'w') as csvfile:
    fieldnames = ['first_name', 'last_name', 'Grade']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
 
    writer.writeheader()
    writer.writerow({'Grade': 'B', 'first_name': 'Eduardo', 'last_name': 'Brian'})
    writer.writerow({'Grade': 'A', 'first_name': 'Rachael','last_name': 'Rodriguez'})
    writer.writerow({'Grade': 'B', 'first_name': 'Jane', 'last_name': 'Oscar'})
    writer.writerow({'Grade': 'B', 'first_name': 'Jane', 'last_name': 'Loive'})
 
print("Writing complete")
algo1= pd.read_csv('/content/exampleEDUARDO.csv')
algo1

Writing complete

  first_name  last_name Grade
0    Eduardo      Brian     B
1    Rachael  Rodriguez     A
2       Jane      Oscar     B
3       Jane      Loive     B

In [39]:
print(pokemones[['Generation','Name','Type 1']])
import numpy as np

     Generation                   Name   Type 1
0             1              Bulbasaur    Grass
1             1                Ivysaur    Grass
2             1               Venusaur    Grass
3             1  VenusaurMega Venusaur    Grass
4             1             Charmander     Fire
..          ...                    ...      ...
795           6                Diancie     Rock
796           6    DiancieMega Diancie     Rock
797           6    HoopaHoopa Confined  Psychic
798           6     HoopaHoopa Unbound  Psychic
799           6              Volcanion     Fire

[800 rows x 3 columns]

In [11]:
#Crear un archivo apartir de otro
import csv
pdExample = pd.DataFrame(pokemones, columns = ['Generation', 'Name', 'Type 1'])
fieldnamesColumns = pdExample.columns.tolist()
with open('examplePokemon.csv', 'w') as csvfile:
  writer = csv.DictWriter(csvfile, fieldnames=fieldnamesColumns)
  writer.writeheader()
  for i in fieldnamesColumns:
    columna1=fieldnamesColumns[0]
    columna2=fieldnamesColumns[1]
    columna3=fieldnamesColumns[2]
  for index, row in pdExample.iterrows():   
    writer.writerow({columna1: row[columna1], columna2: row[columna2], columna3: row[columna3]})    
 
print("Writing complete")
pokeExp= pd.read_csv('/content/examplePokemon.csv')
pokeExp

Writing complete

     Generation                   Name   Type 1
0             1              Bulbasaur    Grass
1             1                Ivysaur    Grass
2             1               Venusaur    Grass
3             1  VenusaurMega Venusaur    Grass
4             1             Charmander     Fire
..          ...                    ...      ...
795           6                Diancie     Rock
796           6    DiancieMega Diancie     Rock
797           6    HoopaHoopa Confined  Psychic
798           6     HoopaHoopa Unbound  Psychic
799           6              Volcanion     Fire

[800 rows x 3 columns]

In [12]:
#Exportar Dataframe a csv
pdExample = pd.DataFrame(pokemones, columns = ['Generation', 'Name', 'Type 1'])
pdExample.to_csv("examplePokemo2n.csv", index=False)
pokeExp2= pd.read_csv('/content/examplePokemo2n.csv')
pokeExp2

     Generation                   Name   Type 1
0             1              Bulbasaur    Grass
1             1                Ivysaur    Grass
2             1               Venusaur    Grass
3             1  VenusaurMega Venusaur    Grass
4             1             Charmander     Fire
..          ...                    ...      ...
795           6                Diancie     Rock
796           6    DiancieMega Diancie     Rock
797           6    HoopaHoopa Confined  Psychic
798           6     HoopaHoopa Unbound  Psychic
799           6              Volcanion     Fire

[800 rows x 3 columns]

fijar el Indice en una columna

In [80]:
import pandas as pd
pokemones= pd.read_csv('sample_data/pokemon_data.csv')
pokemones.head(3)

   #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1  Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2    Ivysaur  Grass  Poison  ...       80     60           1      False
2  3   Venusaur  Grass  Poison  ...      100     80           1      False

[3 rows x 12 columns]

**Nota:** Cada vez que usamos una columna como index está se elimina.

In [81]:
#Podemos poner como indice la columna que queramos
pokemones.set_index('Generation',inplace=True) 
pokemones

              #                   Name   Type 1  ... Sp. Def  Speed  Legendary
Generation                                       ...
1             1              Bulbasaur    Grass  ...      65     45      False
1             2                Ivysaur    Grass  ...      80     60      False
1             3               Venusaur    Grass  ...     100     80      False
1             3  VenusaurMega Venusaur    Grass  ...     120     80      False
1             4             Charmander     Fire  ...      50     65      False
...         ...                    ...      ...  ...     ...    ...        ...
6           719                Diancie     Rock  ...     150     50       True
6           719    DiancieMega Diancie     Rock  ...     110    110       True
6           720    HoopaHoopa Confined  Psychic  ...     130     70       True
6           720     HoopaHoopa Unbound  Psychic  ...     130     80       True
6           721              Volcanion     Fire  ...      90     70       True

[800 rows x 11 columns]

In [42]:
pokemones['Generation']

0      1
1      1
2      1
3      1
4      1
      ..
795    6
796    6
797    6
798    6
799    6
Name: Generation, Length: 800, dtype: int64

In [47]:
#Ya teniendo como indice la columna Generation  podemos hacer este tipo de busquedas
pokemones.loc['1']

              #                   Name   Type 1  ... Sp. Def  Speed  Legendary
Generation                                       ...
1             1              Bulbasaur    Grass  ...      65     45      False
1             2                Ivysaur    Grass  ...      80     60      False
1             3               Venusaur    Grass  ...     100     80      False
1             3  VenusaurMega Venusaur    Grass  ...     120     80      False
1             4             Charmander     Fire  ...      50     65      False
...         ...                    ...      ...  ...     ...    ...        ...
1           149              Dragonite   Dragon  ...     100     80      False
1           150                 Mewtwo  Psychic  ...      90    130       True
1           150    MewtwoMega Mewtwo X  Psychic  ...     100    130       True
1           150    MewtwoMega Mewtwo Y  Psychic  ...     120    140       True
1           151                    Mew  Psychic  ...     100    100      False

[166 rows x 11 columns]

# Opciones con LOC

In [78]:
#Ya teniendo como indice la columna Generation  podemos hacer este tipo de busquedas
pokemones.loc[1]#se puede poner el numero sin comillas

              #                   Name   Type 1  ... Sp. Def  Speed  Legendary
Generation                                       ...
1             1              Bulbasaur    Grass  ...      65     45      False
1             2                Ivysaur    Grass  ...      80     60      False
1             3               Venusaur    Grass  ...     100     80      False
1             3  VenusaurMega Venusaur    Grass  ...     120     80      False
1             4             Charmander     Fire  ...      50     65      False
...         ...                    ...      ...  ...     ...    ...        ...
1           149              Dragonite   Dragon  ...     100     80      False
1           150                 Mewtwo  Psychic  ...      90    130       True
1           150    MewtwoMega Mewtwo X  Psychic  ...     100    130       True
1           150    MewtwoMega Mewtwo Y  Psychic  ...     120    140       True
1           151                    Mew  Psychic  ...     100    100      False

[166 rows x 11 columns]

In [66]:
#Ya teniendo como indice la columna Generation  podemos hacer este tipo de busquedas
pokemones.loc[[1,2,3]]#Agrupar 3 generaciones

              #                   Name   Type 1  ... Sp. Def  Speed  Legendary
Generation                                       ...
1             1              Bulbasaur    Grass  ...      65     45      False
1             2                Ivysaur    Grass  ...      80     60      False
1             3               Venusaur    Grass  ...     100     80      False
1             3  VenusaurMega Venusaur    Grass  ...     120     80      False
1             4             Charmander     Fire  ...      50     65      False
...         ...                    ...      ...  ...     ...    ...        ...
3           385                Jirachi    Steel  ...     100    100       True
3           386     DeoxysNormal Forme  Psychic  ...      50    150       True
3           386     DeoxysAttack Forme  Psychic  ...      20    150       True
3           386    DeoxysDefense Forme  Psychic  ...     160     90       True
3           386      DeoxysSpeed Forme  Psychic  ...      90    180       True

[432 rows x 11 columns]

Agrupar generaciones y elegir cuales columnas imprimir

In [87]:
#Ya teniendo como indice la columna Generation  podemos hacer este tipo de busquedas
pokemones.loc[[1,2,3],['Speed','Legendary']]#loc

            Speed  Legendary
Generation
1              45      False
1              60      False
1              80      False
1              80      False
1              65      False
...           ...        ...
3             100       True
3             150       True
3             150       True
3              90       True
3             180       True

[432 rows x 2 columns]

Agrupar generaciones e imprimir un rango de Columnas

In [75]:
#Ya teniendo como indice la columna Generation podemos hacer este tipo de busquedas
pokemones.loc[[1,2,3],'Type 1':'Speed']#loc

             Type 1   Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Generation
1             Grass   Poison   45      49       49       65       65     45
1             Grass   Poison   60      62       63       80       80     60
1             Grass   Poison   80      82       83      100      100     80
1             Grass   Poison   80     100      123      122      120     80
1              Fire      NaN   39      52       43       60       50     65
...             ...      ...  ...     ...      ...      ...      ...    ...
3             Steel  Psychic  100     100      100      100      100    100
3           Psychic      NaN   50     150       50      150       50    150
3           Psychic      NaN   50     180       20      180       20    150
3           Psychic      NaN   50      70      160       70      160     90
3           Psychic      NaN   50      95       90       95       90    180

[432 rows x 8 columns]

Condiciones con LOC

In [94]:
import pandas as pd
pokemones= pd.read_csv('sample_data/pokemon_data.csv')
pokemones.loc[pokemones['Name']=='Charmander', 'Speed']#1 columna

4    65
Name: Speed, dtype: int64

In [103]:
import pandas as pd
pokemones= pd.read_csv('sample_data/pokemon_data.csv')
pokemones.loc[pokemones['Legendary']==True, ['Name','Speed']]#varias columnas

                    Name  Speed
156             Articuno     85
157               Zapdos    100
158              Moltres     90
162               Mewtwo    130
163  MewtwoMega Mewtwo X    130
..                   ...    ...
795              Diancie     50
796  DiancieMega Diancie    110
797  HoopaHoopa Confined     70
798   HoopaHoopa Unbound     80
799            Volcanion     70

[65 rows x 2 columns]

In [114]:
import pandas as pd
pokemones= pd.read_csv('sample_data/pokemon_data.csv')
pokemones.loc[pokemones['Attack']>=180, ['Name','Speed']]#varias columnas

                        Name  Speed
163      MewtwoMega Mewtwo X    130
232  HeracrossMega Heracross     75
424    GroudonPrimal Groudon     90
426    RayquazaMega Rayquaza    115
429       DeoxysAttack Forme    150

In [131]:
import pandas as pd
pokemones= pd.read_csv('sample_data/pokemon_data.csv')
pokemones.loc[(pokemones['Attack']>=1) & (pokemones['Attack']<=10) , ['Name','Speed']]

         Name  Speed
121   Chansey     50
139  Magikarp     80
230   Shuckle      5
261   Blissey     55
488   Happiny     30

In [60]:
#Ya teniendo como indice la columna Generation  podemos hacer este tipo de busquedas
pokemones.iloc[1:10,:6]

            #                       Name Type 1  Type 2  HP  Attack
Generation
1           2                    Ivysaur  Grass  Poison  60      62
1           3                   Venusaur  Grass  Poison  80      82
1           3      VenusaurMega Venusaur  Grass  Poison  80     100
1           4                 Charmander   Fire     NaN  39      52
1           5                 Charmeleon   Fire     NaN  58      64
1           6                  Charizard   Fire  Flying  78      84
1           6  CharizardMega Charizard X   Fire  Dragon  78     130
1           6  CharizardMega Charizard Y   Fire  Flying  78     104
1           7                   Squirtle  Water     NaN  44      48

In [61]:
import pandas as pd
pokemones= pd.read_csv('sample_data/pokemon_data.csv')
pokemones.head(3)

   #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1  Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2    Ivysaur  Grass  Poison  ...       80     60           1      False
2  3   Venusaur  Grass  Poison  ...      100     80           1      False

[3 rows x 12 columns]